.main_container {
  margin: 0;
  padding: 0;
}

.blocs_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: 4px;
  /* border: 1px red solid; */
}

.group_bloc {
  display: flex;
  justify-content: space-around;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.slide_container_height {
  height: 500px;
}

.slide_description {
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.blocBackgroundImage {
  background-image: url("/presta-events-images/beaute.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.BlocLocationVehicules_BackgroundImage {
  background-image: url("/presta-events-images/location-vehicules.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.BlocDecorateursSalles_BackgroundImage {
  background-image: url("/presta-events-images/decoration.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.BlocTraiteurs_BackgroundImage {
  background-image: url("/presta-events-images/traiteurs.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.paragraphes {
  display: flex;
  width: 100%;
  padding-top: 10px;
  margin-top: 10px;
  justify-content: space-around;
  /* border: 1px red solid; */
}

.paragraphe_1 {
  display: flex;
  padding: 20px;
  width: 73%;
  border-radius: 10px;
  color: #5d5a5a;
  /* align-self: center; */
  /* border: 1px red solid; */
}

.main_blocs_prestataires_container {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  /* border: 2px red solid; */
}

.image_style {
  width: 100%;
  height: 222;
}

.bloc_prestataire_image_wrapper {
  width: 49%;
  margin: 2px;
  border-radius: 10px;
  background-color: #5d5a5a;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.bloc_prestataire_image_wrapper h2 {
  position: absolute;
  display: flex;
  color: #f7f5f5;
  width: 100%;
  height: 100%;
  font-size: 27px;
  align-items: center;
  justify-content:space-around
}

.bloc_1 {
  width: 100%;
}
.blocs_prestataires_image_wrapper_container {
  display: flex;
  width: 55%;
  border: 2px greenyellow solid;
  flex-wrap: wrap;
}

/************************************************** M E D I A   S C R E E N  ***************************************************/

/* @media screen and (max-width: 1440px) {

}
@media screen and (max-width: 425px) {

}
*/
@media screen and (max-width: 320px) {
  .paragraphe_1 {
    padding: 5px;
    width: 100%;
  }

  .slide_container_height {
    height: 150px;
  }

  .slide_description {
    font-size: 20px;
  }

  .blocs_prestataires_image_wrapper_container {
    width: 100%;
  }

  .bloc_prestataire_image_wrapper {
    margin: 1px;
    height: 198px;
  }
  .image_style {
    width: auto;
    height:200px;
  }
}


@media screen and (max-width: 375px) {
  .paragraphe_1 {
    padding: 5px;
    width: 100%;
  }

  .slide_container_height {
    height: 150px;
  }

  .slide_description {
    font-size: 20px;
  }

  .blocs_prestataires_image_wrapper_container {
    width: 100%;
  }

  .bloc_prestataire_image_wrapper {
    margin: 1px;
    height: 198px;
  }
  .image_style {
    width: auto;
    height:230px;
  }
}


@media screen and (max-width: 425px) {
  .paragraphe_1 {
    padding: 5px;
    width: 100%;
  }

  .slide_container_height {
    height: 150px;
  }

  .slide_description {
    font-size: 20px;
  }

  .blocs_prestataires_image_wrapper_container {
    width: 100%;
  }

  .bloc_prestataire_image_wrapper {
    margin: 1px;
    height: 198px;
  }
  .image_style {
    width: auto;
    height:255px;
  }
}



@media screen and (max-width: 1440px) {
    
}
