.bottom-navigation {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FCA4F0;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.nav-item {
    display: flex;
    text-decoration: none;
    font-size:x-small;
    color: #fff;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    /* background-color: #007bff; */
    flex-direction: column;
    height: 30px;

    
    /* width: 100%; */

}
.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    height: 30px;

}

/* .nav-item a:hover {
    color: #007bff;
} */
